<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella" method="post">
<div>
  <label for="location_field">Where are you located?</label>
</div>

<div>
  <input id="location_field" type="text" name="user_location">
</div>

  <button>Submit</button>
</form>

<p> You last search for: </p>

<ul>
  <li>Last location: <%=cookies["last_location"]%></li>
  <li>Last latitude: <%=cookies["last_lat"]%></li>
  <li>Last longitude: <%=cookies["last_lng"]%></li>
</ul>
